body {
    background-color: #fafafa;
    margin-top: 10px;
}

.jumbotron {
    background-color: darkblue !important;
    color: white;
    font-weight: 400px;
}

.searchPar {
    background-color: darkblue !important;
}

.panel-heading {
    color: white;
    font-weight: 400px;
}

.panel-title {
    color: white;
    font-weight: 400px;
}